.DS_Store
*/.DS_Store
/scaffold/*
!/scaffold/dist/*
!/scaffold/lib/*
!/scaffold/src/*
scaffold/src/.DS_Store
scaffold/src/templates/.DS_Store
scaffold/lib/.DS_Store
scaffold/lib/loaders/translations-loader.js
scaffold/lib/javascripts/i18n.js
scaffold/lib/javascripts/storage.js
scaffold/lib/javascripts/view.js
scaffold/dist/.DS_Store
scaffold/dist/assets/.DS_Store
