.menu-btn {
  border: 1px solid $gainsboro;
  color: $jumbo;
  overflow: hidden;
  padding-left: 20px;
  text-align: left;
  text-overflow: ellipsis;
  max-height: 40px;
  &:hover {
    background-color: $white-smoke;
    color: $oil;
    border: 1px solid $gainsboro;
  }
  &:disabled:disabled {
    background-color: $gainsboro;
    color: $white;
  }
  .c-avatar {
    margin-top: 6px;
    img {
      vertical-align: top;
    }
  }
  .button-badge {
    display: none;
    height: 8px;
    margin-right: -12px;
    position: relative;
    left: -12px;
  }
}

.menu-btn-content {
  margin-left: 13px;
  max-width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
}

.menu-btn-icon-arrow-down {
  background-repeat: no-repeat;
  background: url("https://aculligan.github.io/CDN/Universal_App_Assets/img/chevron.svg") 0 (0 / contain);
  display: inline-block;
  height: 14px;
  left: 90%;
  margin-left: 8px;
  opacity: 0.4;
  position: absolute;
  top: 127px;
  width: 14px;
}
