.submit-btn {
  background-color: $black;
  border-color: transparent;
  border: 1px solid $black;
  color: $white;
  margin: 20px 0 0 109px;
  &:hover {
    background-color: $gray-darker;
    color: $white;
  }
  &:active {
    background-color: $gray-darker;
    color: $white;
  }
}
