.submit-btn {
  background-color: $oil;
  border-color: transparent;
  border: 1px solid $oil;
  color: $white;
  margin: 20px 0 0 109px;
  &:hover {
    background-color: $dark-gray;
    color: $white;
  }
  &:active {
    background-color: $dark-gray;
    color: $white;
  }
}
