.c-tooltip {
  left: 21px;
  margin: 0;
  margin-top: -18px;
  max-width: 85%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: 3px;
  z-index: 1111;
}

.c-arrow {
  background-color: $algae;
  border-width: 10px;
  display: none;
  height: 6px;
  left: 30px;
  margin: -10px 0 -16px 0;
  width: 6px;
  overflow: hidden;
  top: -15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 999;
}
