.c-tooltip{
  position: relative;
  display:inline-block;
  box-sizing:border-box;
  border-radius:4px;
  background-color:#333;
  padding:0 1.25em;
  line-height:1.66667;
  color:#fff;
  font-size:12px;
  font-weight:400;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 21px;
  top: 12px;
  margin: 0px;
  margin-top: -16px;
  z-index: 999;
}

.c-arrow{
  height: 6px;
  max-width: 6px;
  overflow: hidden;
  background-color: #333;
  position: relative;
  border-width: 10px;
  -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
          transform:rotate(45deg);
  top: 0px;
  left: 30px;
  margin: 0px;
  margin-top: -10px;
  z-index: 999;
}
